:root{
    --border-radius:15px;
    --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top:11rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body{
   background:#d6e1f0;
   padding: 0rem;
}
.container{
    background: white;
    /* border: 2px solid black;  */
    border-radius: var(--border-radius);
    max-width: 284px;
    margin: 0 auto;
    margin-top: 13rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}
.img-container{
    position: relative;
    margin: 0rem;
    padding: 0rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: var(--border-radius); 
    padding: 0rem;

}


h1 , p {
    text-align: center;
    font-family: sans-serif;
    max-width: 600px;
    white-space: pre-wrap;
    word-wrap: nowrap;
}


h1 {
   font-size: 7cqi;
   color:#383c4f;
   font-weight: 600;
   margin-top: 2rem;
   
}


.h1-margin{
    margin-top: -0.7rem;
}

.h-container{
    padding: 0rem;
    margin: 0rem;
    container-type: inline-size;
}

.text-container{
    width: 90%;
    margin: 0 auto;
}
p{
    word-break: break-all;
    padding: 0rem;
    font-size: clamp(1rem,2.8cqi);
    color: #919191;
    line-height: 1.1rem; 
}
@media screen and (max-width:284px) {
    .container{
        background: white;
        /* border: 2px solid black;  */
        border-radius: var(--border-radius);
        margin: 0 auto;
        margin-top: 13rem;
        padding: 1rem;
        box-shadow: var(--box-shadow);
    }
   
}



    
