.attribution { 
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body{
   background:#d6e1f0;
   padding: 0rem;
}
.container{
    background: white;
    border: 2px solid black; 
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    margin-top: 13rem;
    padding-top: 1rem;
    padding-left: 1rem;
    
}
.img-container{
    margin: 0rem;
    padding: 0rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 5px; 
    padding: 0rem;

}


h1 , p {
    text-align: center;
    
}


h1 {
   font-size:medium; 
   font-size: 25px;
}


.h1-margin{
    margin-top: -0.7rem;
}

.h-container{
    padding: 0rem;
    margin: 0rem;
}

.text-container{
    width: 49%;
    margin: 0 auto;
}
p{
    word-break: break-all;
    padding: rem;
    font-size: 1rem;
}